---
//PAGE TO RENDER ALL AVAILABLE POSTS
 import { getCollection } from "astro:content";
 const posts = (await getCollection('blog')).sort(
(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
 );
---

 

{
  posts.map((post) => (
     <li>
       <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
    </li>
   ))
 }
