---
import navPages from "../../navPages";
import HTMLayout from "../layouts/HTMLayout.astro";
---

<HTMLayout title="404">
  <div
    class="flex true-h-screen true-w-screen justify-center text-center align-middle"
  >
    <div style="align-self: center">
      <h1>Oops. You seem to have lost your way.</h1>
      <div
        style="display: flex; margin-top: 2em; flex-direction: column;"
        class="flex-column"
      >
        <a id="home" href="/" class="px-5" title="Return to Home">HOME</a>
        {
          Object.entries(navPages).map((page) => (
            <a
              id={page[0].toLowerCase()}
              href={page[1]}
              class="px-5"
              title={`Return to ${page[0]}`}
            >
              {page[0].toUpperCase()}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</HTMLayout>

<style>
  body {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(181, 175, 226) 100%
    );
  }
  h1 {
    color: rgb(41, 41, 41);
    font-size: 5vmin;
  }
  a {
    color: rgb(97, 97, 255);
    font-size: 5vmin;
    transition: 0.2s ease;
  }
  a:hover {
    text-decoration: underline;
    filter: brightness(75%);
  }
</style>
