---
import Meg from "../components/Meg.astro";
import HTMLayout from "../layouts/HTMLayout.astro";

---

<HTMLayout title="404">
    <div class="container">

        <Meg dataWord="MEGABYTE" dataTextColours={["#32a9ff","#ffe81b","#ff7474","#ffffff"]} dataWordRepeat={4} />
    </div>
</HTMLayout>