---
import Layout from "../layouts/Layout.astro";
import ComingSoon from "../components/ComingSoon.astro";
import Maintain from "../components/Maintain.astro";
---
<Maintain />
<!-- lorem ipsum
<Layout title="About" >
    <main class="bg-hero-pattern h-screen w-full">
        <div class=""></div>
    <p>lorem ipsum</p>
</main>
</Layout>

<style>
    main {
        height: 100vh;
    }
</style>
-->