---
import Layout from "../layouts/Layout.astro";
import Resource from "../components/Resource.astro";
import Maintain from "../components/Maintain.astro";
---

<Layout title="About | Megabyte" class="">
  <div class="bg-cube h-full px-8 pt-24 pb-8 sm:pt-36 md:px-24">
    <div class="card w-full bg-[#81effc] p-5 mb-10 p-12">
        <h1 class="mb-5 text-center text-2xl font-bold md:text-3xl xl:text-4xl">
          About Megabyte
        </h1>
        <p class="mb-3 text-center text-lg md:text-xl xl:text-xl mt-6 font-bold">
          What the society and its members have been up to, in and outside
          school.
        </p>

        <p class="text-center mt-8">
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
          THis is random text
        </p>
      </div>
    <div class="mb-12 flex w-full flex-col gap-6 md:flex-row">
      
      
      <div class="card w-full bg-[#ceff1b] p-5">
        <h3 class="mb-3 text-xl font-bold md:text-2xl">Head of Society</h3>
        <p class="text-justify text-lg font-[500] md:text-xl">Arjun Sharma</p>
        <a
          href="mailto:arjun.sharma6131@tsrs.org"
          class="text-justify text-lg font-[500] md:text-xl"
          >arjun.sharma6131@tsrs.org</a
        >
        <p class="mt-3 text-justify text-lg font-[500] md:text-xl">IB 2-B</p>
      </div>
      <div class="card w-full bg-[#ff7474] p-5">
        <h3 class="mb-3 text-xl font-bold md:text-2xl">Teacher in Charge</h3>
        <p class="text-justify text-lg font-[500] md:text-xl">Babita Chahal</p>
        <a
          href="mailto:babita.chahal@tsrs.org"
          class="text-justify text-lg font-[500] md:text-xl"
          >babita.chahal@tsrs.org</a
        >
        <!-- <p class="text-justify text-lg md:text-xl font-[500]"> put ma'am's designation here </p> -->
      </div>
    </div>
    <div class="bg-[#ffe81b] about-div w-fit py-3 px-5 text-center">
      <p class="text-center text-lg font-medium">
        This site was built by <a
          target="_blank"
          href="https://github.com/aarushaggarwal-theone">Aarush Aggarwal</a
        >, <a target="_blank" href="https://github.com/ArjunS07">Arjun Sharma</a
        >, <a target="_blank" href="https://github.com/raptor1820"
          >Ritwic Verma</a
        >, <a target="_blank" href="https://github.com/shreedhar-raj">
          Shreedhar Raj</a
        >, and <a target="_blank" href="https://github.com/notskamr"
          >Varun Sahni</a>
      </p>
    </div>
  </div>
</Layout>

<style>
  a {
    text-decoration: underline;
    font-weight: 700;
  }
  a:hover {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .about-div {
    margin: auto;
    border: 3px solid black;
    box-shadow: 6px 6px 0px 0px;
  }
</style>
