---
// import Maintain from "../components/Maintain.astro";

import Layout from "../layouts/Layout.astro";


    const response = await fetch("https://megabyte-website-backend.onrender.com/api/events");
    // console.log(response);
    const data = await fetch("https://megabyte-website-backend.onrender.com/api/events").then(res => res.json())

console.log(data);

---
<Layout title="eVENTS">
<div>
    <h1>{data.title}</h1>
    <ul class="text-black">
        <li></li>
    </ul>
</div></Layout>