---
// import Maintain from "../components/Maintain.astro";

import Layout from "../layouts/Layout.astro";

// console.log(response);
let data = await fetch(
  "https://megabyte-website-backend.onrender.com/api/events"
)
  .then((res) => res.json())
  .then((d) => {
    return d.data;
  });
---

<Layout title="EVENTS">
  {
    !data ? (
      // if there are no events found
      <h1>No events.</h1>
    ) : (
      // map each event to its own block
      data.map((event) => {
        let details = event.attributes;
        return (
          <div>
            <h1>{details.title}</h1>
            <ul class="text-black">
              <li />
            </ul>
          </div>
        );
      })
    )
  }
</Layout>
