---
import ComingSoon from "../components/ComingSoon.astro";
import Navbar from "../components/Navbar.astro";
import HoriCard from "../components/HoriCard.astro";
---
<title>Megabyte | Events</title>
<Navbar />
<div class="">
    <HoriCard title="Event 1" body="Stuff" link="#" />
</div>