---
import Layout from "../layouts/Layout.astro";
import horizontalCard from "../components/horizontalCard.astro";
---

<Layout title="Welcome to Astro.">
  <main>
<div>
    <p class="text-5xl text-green">this is some text</p>
    <horizontalCard />
</div>
  </main>
</Layout>
