---
import HoriCard from "../components/HoriCard.astro";
import Navbar from "../components/Navbar.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import VerticalCard from "../components/VerticalCard.astro";
import IconButton from "../components/IconButton.astro";
---

<Layout title="Megabyte" class="w-screen h-screen">
  <div class="container w-screen h-screen bg-hero-pattern">
    <div class="w-screen text-5xl h-full md:pt-64 text-center">
      <div class="align-middle text-center m-auto mt-5">
        <span class="weare">We are</span>
        <span class="maintext"> Megabyte</span>
        <span class="commune">
          A community of enthus<div class="blue-u understroke">iasts</div>,
          innov<span class="yel-u understroke">ators</span> , and m<span
            class="red-u understroke">akers</span
          >.
        </span>
      </div>
    </div>
    <div class="body">
      <div class="notice p-8 md:p-24 ">
        <div class="notice-box  w-fit p-5">
          <span class="notice-title mb-2">Notice Board</span>
          <span class="notice-text">Events, opportunities, and meetings</span>
        </div>
        <div class="events w-fit">
          <ul class="events-list ">
            <li class="blue-u  mt-20 "><HoriCard title="Shriteq 2022 tryouts"  body="Commodo fugiat nulla qui ut in sint ipsum id ullamco aliqua id exercitation. Reprehenderit magna dolore ea excepteur veniam officia mollit. Et duis cupidatat commodo nisi sint sit laborum excepteur. Quis nisi voluptate cillum ea culpa anim dolore anim. " link="/"/> </li>
            <li class="yel-u  mt-20 "><HoriCard title="Shriteq 2022 tryouts"  body="Commodo fugiat nulla qui ut in sint ipsum id ullamco aliqua id exercitation. Reprehenderit magna dolore ea excepteur veniam officia mollit. Et duis cupidatat commodo nisi sint sit laborum excepteur. Quis nisi voluptate cillum ea culpa anim dolore anim. " link="/"/> </li>
            <li class="red-u  mt-20 "><HoriCard title="Shriteq 2022 tryouts"  body="Commodo fugiat nulla qui ut in sint ipsum id ullamco aliqua id exercitation. Reprehenderit magna dolore ea excepteur veniam officia mollit. Et duis cupidatat commodo nisi sint sit laborum excepteur. Quis nisi voluptate cillum ea culpa anim dolore anim. " link="/"/> </li>
          
          </ul>
        </div>
          <div class="bgreen text-right w-full p-3 mt-10"><Button text="See All" link="/"/>
          </div>
           </div>
      <div class="acc  p-8 md:p-24 ">
        <div class="notice-box  w-fit p-5">
          <span class="notice-title mb-2">Accomplishments</span>
          <span class="notice-text">Events, opportunities, and meetings</span>
        </div>

         <div class="events w-fit mt-20">
          <ul class="events-list lg:flex">
            <li class="blue-u mb-12 lg:mr-8"><VerticalCard date="12 MARCH" imgLink="/src/assets/rad.png" title="Shriteq 2022 tryouts"  body="Commodo fugiat nulla qui ut in sint ipsum id ullamco aliqua id exercitation. Reprehenderit magna dolore ea excepteur veniam officia mollit. Et duis cupidatat commodo nisi sint sit laborum excepteur. Quis nisi voluptate cillum ea culpa anim dolore anim. " link="/"/> </li>
            <li class="yel-u mb-12 lg:mr-8  "><VerticalCard date="12 MARCH" imgLink="/src/assets/rad.png" title="Shriteq 2022 tryouts"  body="Commodo fugiat nulla qui ut in sint ipsum id ullamco aliqua id exercitation. Reprehenderit magna dolore ea excepteur veniam officia mollit. Et duis cupidatat commodo nisi sint sit laborum excepteur. Quis nisi voluptate cillum ea culpa anim dolore anim. " link="/"/> </li>
            <li class="red-u mb-12 "><VerticalCard date="12 MARCH" imgLink="/src/assets/rad.png" title="Shriteq 2022 tryouts"  body="Commodo fugiat nulla qui ut in sint ipsum id ullamco aliqua id exercitation. Reprehenderit magna dolore ea excepteur veniam officia mollit. Et duis cupidatat commodo nisi sint sit laborum excepteur. Quis nisi voluptate cillum ea culpa anim dolore anim. " link="/"/> </li>
          
          </ul>
        </div>
                  <div class="bgreen text-right w-full p-3 mt-10"><Button text="See All" link="/"/>
          </div>
      </div>
      <div class="resources notice p-8 md:p-24">
        <p class="rec-main text-2xl md:text-4xl lg:text-5xl">Resources</p>

        <p class="rec-text  text-lg md:text-2xl mb-8 w-2/3 lg:w-3/8 max-w-fit">Collections of links, guides, and more to help you learn about all things tech</p>
        <IconButton link="/" imgLink="src/assets/circle-arrow.png" text="Learn more"></IconButton>
      </div>

</div>
     
  </div>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap");
  .commune {
    margin-top: 5vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 40px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
  }
  .mt-24 {
    margin-top: 20vh;
  }
  .container {
    width: 100vw;
  }
  .weare {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 65px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
  }
  .bg-hero-pattern {
    background-image: url("/src/assets/anime-lines.svg");
    background-size: cover;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
  }
  @media (max-width: 60em) {
    .bg-hero-pattern {
      background-image: url("/src/assets/anime-lines.svg");
      background-size: cover;
      width: 100vw;
      min-height: 100vw;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .maintext {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 700;
    font-size: 6vw;
    line-height: 150px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #cceaff;
    text-shadow: -2px 2px 0px #000, 2px 2px 0px #000, 8px 6px 0px #000,
      -2px -2px 0px #000;
  }
  .understroke {
    background-size: 100% 1.8vh;
    background-repeat: no-repeat;
    background-position: right 80%;
    padding-bottom: 1vh;
    margin-top: 1vh;
  }

  .blue-u {
    background-image: linear-gradient(#32a9ff, #32a9ff);
  }
  .yel-u {
    background-image: linear-gradient(#ffe81b, #ffe81b);
  }
  .red-u {
    background-image: linear-gradient(#ff7474, #ff7474);
    background-size: 90% 1.8vh;
  }

  .notice-box {
   background-color: #000 0%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    letter-spacing: -0.01em;
    /* background: #FFFFFF; */
border: 2px solid #000000;
box-shadow: 3px 3px 0px #000000;
  }
  .notice-title {
    font-family: 'Lexend';
font-style: normal;
font-weight: 700;
font-size: 24px;
/* line-height: 18px; */
/* or 75% */

display: flex;
align-items: center;
letter-spacing: 0.05em;
  }
  .noitce-text {
    font-family: 'Lexend';
font-style: bold;
font-weight: 500;
font-size: 20px;
/* line-height: 30px; */
/* or 167% */

letter-spacing: 0.04em;
  }

.rec-main {
  font-family: 'Lexend';
font-style: bold;
font-weight: 700;
line-height: 52px;
display: flex;
align-items: center;

}
.rec-text {
  margin-top: 25px;
  font-family: 'Lexend';
font-style: normal;
font-weight: 400;
line-height: 52px;
display: flex;
align-items: center;

}
@media (max-width: 768px) {
  .rec-text {
    line-height: 32px ;}}

</style>
