---
import HoriCard from "../components/HoriCard.astro";
import Navbar from "../components/Navbar.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import VerticalCard from "../components/VerticalCard.astro";
import IconButton from "../components/IconButton.astro";
import Maintain from "../components/Maintain.astro"; // Use when site under maintainance
---

<Layout title="Megabyte" class="w-screen h-screen   =-mandatory     ">
  <div class="h-screen bg-hero-pattern     ">
    <div class="text-5xl h-full text-center topMain">
      <div class="align-middle text-center m-auto">
        <span class="weare">We are</span>
        <span class="maintext"> Megabyte</span>
        <span class="commune">
          <span class="comm text-center"
            ><span class="l-hidden"> A community of</span>
            <span class=""
              >Enthus<span class="blue-u understroke">iasts</span></span
            >, <span>Innov<span class="yel-u understroke">ators</span></span>,
            and<span> M<span class="red-u understroke">akers</span></span>.
          </span>
        </span>
      </div>
    </div>
   
  </div>
   <div class="body bg-cube ">
      <div class="notice p-8 md:p-24     ">
        <div class="notice-box w-fit p-5">
          <span class="notice-title mb-2">Notice Board</span>
          <span class="notice-text">Events, opportunities, and meetings</span>
        </div>
        <div class="events w-fit">
          <ul class="events-list">
            <li class="blue-u mt-20">
              <HoriCard
                tColour="#82E8FF"
                title="Pathways School Noida Hackathon"
                body="The Shri Ram School has been invited to participate in the third hackathon, 'Auto Hacks,' hosted by Pathways School Noida on 20th - 22nd January 2023. The theme of the hackathon is 'Automation,' and students from grades 9 - 12 can participate in teams of 1 - 3 members. The event will consist of online workshops and a closing ceremony held physically at Pathways School Noida on the 22nd of January, and details about registration, rules, prizes, judging criteria, and FAQ's can be found on the devpost website.  "
                link="/"
              />
            </li>
            <li class="yel-u mt-20">
              <HoriCard
                tColour="#ffe81b"
                title="Shriteq 2022 tryouts"
                body="Commodo fugiat nulla qui ut in sint ipsum id ullamco aliqua id exercitation. Reprehenderit magna dolore ea excepteur veniam officia mollit. Et duis cupidatat commodo nisi sint sit laborum excepteur. Quis nisi voluptate cillum ea culpa anim dolore anim. "
                link="/"
              />
            </li>
            <li class="red-u mt-20">
              <HoriCard
                tColour="#ff7474"
                title="Shriteq 2022 tryouts"
                body="Commodo fugiat nulla qui ut in sint ipsum id ullamco aliqua id exercitation. Reprehenderit magna dolore ea excepteur veniam officia mollit. Et duis cupidatat commodo nisi sint sit laborum excepteur. Quis nisi voluptate cillum ea culpa anim dolore anim. "
                link="/"
              />
            </li>
          </ul>
        </div>
        <div class="text-right w-full p-3 mt-10">
          <Button text="See All" link="/events" />
        </div>
      </div>
      <div class="acc p-8 md:p-24     ">
        <div class="notice-box w-fit p-5">
          <span class="notice-title mb-2">Accomplishments</span>
          <span class="notice-text">Events, opportunities, and meetings</span>
        </div>

        <div class="events w-fit mt-20">
          <ul class="events-list lg:flex">
            <li class="blue-u h-fit mb-20 lg:mr-8 lg:w-1/3">
              <VerticalCard
                date="12 MARCH"
                imgLink="https://via.placeholder.com/831x482"
                title="Pathways School Noida Hackathon"
                body="Commodo fugiat nulla qui ut in sint ipsum id ullamco aliqua id exercitation. Reprehenderit magna dolore ea excepteur veniam officia mollit. Et duis cupidatat commodo nisi sint sit laborum excepteur. Quis nisi voluptate cillum ea culpa anim dolore anim."
                link="/"
              />
            </li>
            <li class="yel-u mb-20 lg:mr-8 h-fit lg:w-1/3">
              <VerticalCard
                date="12 MARCH"
                imgLink="https://via.placeholder.com/831x482"
                title="Shriteq 2022 tryouts"
                body="Commodo fugiat nulla qui ut in sint ipsum id ullamco aliqua id exercitation. Reprehenderit magna dolore ea excepteur veniam officia mollit. Et duis cupidatat commodo nisi sint sit laborum excepteur. Quis nisi voluptate cillum ea culpa anim dolore anim. "
                link="/"
              />
            </li>
            <li class="red-u h-fit lg:w-1/3">
              <VerticalCard
                date="12 MARCH"
                imgLink="https://via.placeholder.com/831x482"
                title="Shriteq 2022 tryouts"
                body="Commodo fugiat nulla qui ut in sint ipsum id ullamco aliqua id exercitation. Reprehenderit magna dolore ea excepteur veniam officia mollit. Et duis cupidatat commodo nisi sint sit laborum excepteur. Quis nisi voluptate cillum ea culpa anim dolore anim. "
                link="/"
              />
            </li>
          </ul>
        </div>
        <div class="text-right w-full p-3 mt-10">
          <Button text="See All" link="/accomplishments" />
        </div>
      </div>
      <div class="  -center resources notice p-8 md:p-24">
        <p class="rec-main text-2xl md:text-4xl lg:text-5xl">Resources</p>

        <p class="rec-text text-lg md:text-2xl mb-8 w-2/3 lg:w-3/8 max-w-fit">
          Collections of links, guides, and more to help you learn about all
          things tech
        </p>
        <>
          <a
            class="bgreen rounded-sm border-2 border-black hover:cursor-pointer bg-opacity-0 text-center link-button font-bold font-mono text-xl w-fit px-4 py-2 flex"
            href="/"
            ><span class="mt-2 mx-3">Learn more</span>
            <span class=""
              ><svg
                class="w-10"
                xmlns="http://www.w3.org/2000/svg"
                width="200"
                height="200"
                viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="m12 16l4-4l-4-4l-1.4 1.4l1.6 1.6H8v2h4.2l-1.6 1.6Zm0 6q-2.075 0-3.9-.788q-1.825-.787-3.175-2.137q-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175q1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138q1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175q-1.35 1.35-3.175 2.137Q14.075 22 12 22Zm0-2q3.35 0 5.675-2.325Q20 15.35 20 12q0-3.35-2.325-5.675Q15.35 4 12 4Q8.65 4 6.325 6.325Q4 8.65 4 12q0 3.35 2.325 5.675Q8.65 20 12 20Zm0-8Z"
                ></path></svg
              ></span
            >
          </a>
          <style>
            a {
              box-shadow: 2px 2px 0px 2px #000;
            }
            a:hover {
              transform: translate(1px, 1px);
              box-shadow: 1px 1px 0px 1px #000;
            }
            svg {
              width: 2em;
              height: 2em;
              transition: 0.5s ease;
            }

            svg:hover {
              transform: rotate(90deg);
            }
          </style>
        </>
      </div>
    </div>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap");
    .bg-cube {
      background-image: url("../src/assets/tileable-cubes.svg");
      background-size: 50px 70px;
      background-repeat: repeat;

      /* background */
      /* background-size: contain; */
      /* max-width: 100vw;
      height: 100vh; */
      /* background-repeat: no-repeat; */
    }
    .bgreen {
      background-color: #ceff1b;
    }
    .topMain {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .commune {
      margin-top: 2vh;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: "Lexend";
      font-style: normal;
      font-weight: 400;
      font-size: 2vmax;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: center;
    }
    .mt-24 {
      margin-top: 20vh;
    }
    .container {
      width: 100vw;
    }
    .weare {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 400;
      font-size: 3vmax;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.01em;
    }
    .bg-hero-pattern {
      background-image: url("/src/assets/anime-lines.svg");
      background-size: cover;
      /* background-filter: invert(1); */
      max-width: 100vw;
      height: 100vh;
      /* filter: invert(100%);
    -webkit-filter: invert(100%); */

      /* z-index: -1; */
      background-repeat: no-repeat;
      background-position: center;
    }
    .maintext {
      margin-top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 700;
      font-size: 6vmax;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.05em;

      color: #cceaff;
      text-shadow: -2px 2px 0px #000, 2px 2px 0px #000, 8px 6px 0px #000,
        -2px -2px 0px #000;
    }
    .understroke {
      background-size: 100% 0.5em;
      background-repeat: no-repeat;
      background-position: center 0.75em;
      padding-bottom: 1vh;
      margin-top: 1vh;
    }


    .blue-u {
      background-image: linear-gradient(#82E8FF, #82E8FF);
    }
    .yel-u {
      background-image: linear-gradient(#ffe81b, #ffe81b);
    }
    .red-u {
      background-image: linear-gradient(#ff7474, #ff7474);
    }

    .notice-box {
      cursor: pointer;
      transition: ease 0.4s;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: left;
      text-align: left;
      letter-spacing: -0.01em;
      /* background: #FFFFFF; */
      border: 2px solid #000000;
      box-shadow: 3px 3px 0px #000000;
    }
    .notice:active .notice-box{
      transform: rotate(-5deg);
      transition: ease 0.4s;
    }
    .acc:active .notice-box{
      transform: rotate(-5deg);
            transition: ease 0.4s;
    }
    .notice-title {
      font-family: "Lexend";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      /* line-height: 18px; */
      /* or 75% */

      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
    }
    .notice-text {
      font-family: "Lexend";
      font-style: bold;
      font-weight: 500;
      font-size: 20px;
      /* line-height: 30px; */
      /* or 167% */

      letter-spacing: 0.04em;
    }

    .rec-main {
      font-family: "Lexend";
      font-style: bold;
      font-weight: 700;
      line-height: 52px;
      display: flex;
      align-items: center;
    }
    .rec-text {
      margin-top: 25px;
      font-family: "Lexend";
      font-style: normal;
      font-weight: 400;
      line-height: 52px;
      display: flex;
      align-items: center;
    }
    @media (max-width: 67em) {
      .l-hidden {
        display: none;
      }
      .rec-text {
        line-height: 32px;
      }
      .maintext {
        text-shadow: -2px 2px 0px #000, 2px 2px 0px #000, 6px 4px 0px #000,
          -2px -2px 0px #000;
      }
    }
  </style>
</Layout>
