---
import VerticalCard from "../components/verticalCard.astro";
---

<html lang="en">
  <head>
    <title>Megabyte Society</title>
    
  </head>
    <VerticalCard title="Person" body="pERSON" imgLink="https://www.desicomments.com/wallpapers/wp-content/uploads/2014/12/Mountain-Image.jpghttps://www.desicomments.com/wallpapers/wp-content/uploads/2014/12/Mountain-Image.jpg" />
</html>