---
import Navbar from "../components/Navbar.astro";
import VerticalCard from "../components/verticalCard.astro";
import Button from "../components/Button.astro";
---
<head>
    <title>Megabyte</title>
</head>
<Navbar />