---
import ComingSoon from "../components/ComingSoon.astro";
import Maintain from "../components/Maintain.astro"; // Use when site under maintainance
---
<title>Megabyte | Resources</title>
<ComingSoon />