---
import Resource from "../../components/Resource.astro";
import Layout from "../../layouts/Layout.astro";
import ResourcePost from "../../components/ResourcePost.astro";
import { getEntryBySlug } from "astro:content";
const { slug } = Astro.params;
const resource = await getEntryBySlug("resources", slug);
if (resource === undefined) {
  return Astro.redirect("/404");
}
---

<Layout title="Resources | Megabyte">
  <div class="bg-line h-full px-8 pt-24 pb-8 sm:pt-36">
    <ResourcePost resource={resource} />
  </div>
</Layout>
