---
import Resource from "../../components/Resource.astro";
import Layout from "../../layouts/Layout.astro";
import ResourcePost from "../../components/ResourcePost.astro";
import Button from "../../components/Button.astro";
import { getEntryBySlug } from "astro:content";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required.")
}

const resource = await getEntryBySlug("resources", slug);
if (resource === undefined) {
  return Astro.redirect("/404");
}
---

<Layout title="Resources | Megabyte">
  <div class="bg-line h-full px-8 pb-8 pt-28 md:px-24 flex flex-col  gap-5">
    <Button link={`/resources#resource-${slug}`} text='Back to all resources' color="#ffff" />
    <ResourcePost resource={resource} />
  </div>

</Layout>
