---
//PAGE TO RENDER ALL AVAILABLE POSTS
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout>
  <main>
    {
      posts.map((post) => (
        <li>
          <a href={`/resources/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </main>
</Layout>
