---
export interface Props {
  link: string;
  text: string;
  color: string;
}
const { link, text, color } = Astro.props;
---


<button
  class="link-button w-fit bg bg-opacity-0 py-1 text-center font-mono text-lg hover:cursor-pointer"
>
  <a href={link} class="h-full w-full px-3">
    <span class="w-fit">{text}</span>
  </a>
</button>
<style define:vars={{color}}>
  .bg {
    background-color: var(--color);
  }
  button {
    border: 3px solid black;
    box-shadow: 5px 5px 0px 0px;
    color: black;
  }
  button:hover {
    transform: translate(3px, 3px);
    box-shadow: 3px 3px 0px 0px;
  }
</style>
