---
export interface Props {
    link: string;
    text: string;
}
const {link, text} = Astro.props
---
<a class="bgreen rounded-sm border-2 border-black hover:cursor-pointer bg-opacity-0 text-center linktext font-mono text-lg w-fit px-4 py-2" href={link}><span class=" w-fit">{text}</span></a>
<style>
      .bgreen {
    background-color: #CEFF1B;

}
a {
    box-shadow: 2px 2px 0px 2px #000;
}
  a:hover {
    transform: translate(1px, 1px );
    box-shadow: 1px 1px 0px 1px #000;
  }
</style>