---
export interface Props {
  link: string;
  text: string;
}
const { link, text } = Astro.props;
---

<button
  class="bgreen rounded-sm hover:cursor-pointer bg-opacity-0 text-center link-button font-mono text-lg w-fit py-2">
  <a href={link} class="w-full h-full  px-4 " >
    <span class="w-fit">{text}
    </span>
  </a>
  
</button>
<style>
  .bgreen {
    background-color: #ceff1b;
  }
  button {
    border: 3px solid black;
    box-shadow: 5px 5px 0px 0px;
    color: black;
  }
  button:hover {
    transform: translate(3px, 3px);
    box-shadow: 3px 3px 0px 0px;
  }

</style>
