<div class="w-screen bg-green py-5 px-8 md:px-24">
  <p class="font-light">
    Email tsrs.mgbt@gmail.com in case you have any queries about the society or
    would like to request an addition to the website.
  </p>
</div>
