<div class="w-screen bg-green py-5 px-8 md:px-24">
  <p class="font-light">
    Email <a class="underline cursor-pointer" href="mailto:tsrs.mgbt@gmail.com">tsrs.mgbt@gmail.com</a> in case you have any queries about the society or
    would like to request an addition to the website.
  </p>
  </style>
</div>
