
<div class="w-screen py-5 px-8 md:px-24 bg-green">
    <p class="font-light">Email PLACEHOLDER in case you have any queries about the society or would like to request an addition to the website.</p>
</div>