---
import { HydrationDirectiveProps } from "astro/dist/runtime/server/hydration";

export interface Props {
  title: string;
  body: string;
  link: string;
  tColour: string;
}

const { title, body, link, tColour } = Astro.props;
---

<div class="w-full card h-fit">
  <div class="p-5 bg-var py-7 bg-blue-500 text-xl title font-bold">
    <h3 class="">
      {title}
    </h3>
  </div>
  <div class="card-body">
    <p class="text-lg pt-6 px-6 pb-3 text-justify">{body}</p>
  </div>
  <div class="bwhite text-right w-full p-3 pb-8 pr-8 polka">
    <button
            class="hover:pointer bg-white text-center link-button font-mono text-lg py-2"
          >
            <a href={link} class="uppercase w-full h-full px-4">Read more</a>
          </button>
  </div>

</div>

<style define:vars={tColour}>
  @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");
  .bg-var {
    background: var(--tColour);
  }
  .bwhite {
    background: #ffffff;
  }
  .card {
    border: 2px solid #000000;
    box-shadow: 5px 5px 0px #000000;
  }
  .title {
    border-bottom: 2px solid #000000;
    font-family: "Lexend";
    font-weight: 700;
    line-height: 18px;
  }
  .card-body {
    background: #ffffff;
    font-family: "Lexend";
    font-weight: 400;
  }
  .link-button {
    background: #ffffff;
    border: 1px solid black;
    box-shadow: 4px 4px 0px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .link-button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px;
    /* transition-duration: 200ms; */
  }
  

</style>
