---
export interface Props {
  link: string;
  text: string;
  imgLink: string;
}
const { link, text, imgLink } = Astro.props;
---

<a
  class="border-black link-button flex w-fit rounded-sm border-2 bg-green bg-opacity-0 px-4 py-2 text-center font-mono text-xl font-bold hover:cursor-pointer"
  href={link}
  ><span class="mx-3 mt-2">{text}</span>
  <span class=""
    ><img
      class="w-10 hover:rotate-90 hover:duration-500"
      alt="an icon"
      src={imgLink}
    /></span
  >
</a>
<style>
  .bg-green {
    background-color: #ceff1b;
  }
  a {
    box-shadow: 2px 2px 0px 0px #000;
  }
  a:hover {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 0px 0px #000;
  }
</style>
