---
import Navbar from "./Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Under construction | Megabyte" class="w-screen h-screen">
  <div class="px-6">
    <div class="flex flex-col h-screen items-center justify-center gap-4">
      <p class="text-4xl">&#x1F6E0</p>
      <h1 class="text-4xl text-center font-medium">
        This page is currently under construction
      </h1>
    </div>
  </div>
</Layout>
