---
import Navbar from "./Navbar.astro";
---

<div class="h-screen">
  <Navbar />
  <div class="flex h-screen items-center justify-center">
    <p class="text-4xl">&#x1F6E0</p>
    <div class="pl-5">
      <h1 class="text-4xl">Site Under Maintainance, We Will Be Right Back!</h1>
    </div>
  </div>
</div>
