---
---

<div class="wrapper">
  <div class="flex flex-row left-side-container">
    <img src="Circle.png" alt="" />
    <p class="mgbt-text"><span>MEGAB</span>YTE</p>
  </div>
  <div>
    <ul>
      <li class="font-mono">Events</li>
      <li class="font-mono">Accomplishments</li>
      <li class="font-mono">Resources</li>
      <li class="font-mono">About</li>
    </ul>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
  ul {
    list-style: none;
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  li {
    padding: 0 20px;
    font-size: 20px;
  }
  .wrapper {
    width: 75vw;
    height: 88px;
    border: 2px solid black;
    border-radius: 10px;
    position: fixed;
    top: 20px;
    box-shadow: 3px 4px 0px 1px #000;
    margin-left: -37.5vw;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .mgbt-text {
    font-family: "Lexend", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    vertical-align: middle;
  }
  span {
    box-shadow: -6px 11px 0px -6px #cceaff;
    overflow: hidden;
  }
  img {
    height: 65px;
    width: 70px;
  }
  .left-side-container {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
</style>
