---
import navPages from "../../navPages";

const pathname = new URL(Astro.request.url).pathname;
---

<div class="navbar">
  <div id="center-wrapper" class="flex">
    <div class="wrapper">
      <div class="whiteBar">
        <div
          class="inline-flex flex-row left-side-container align-middle hamburgerGroup"
        >
          <a href="/" class="navHome" title="Home">
            <div class="inline-flex align-middle">
              <img
                src="../src/assets/tsrs.svg"
                alt="A circle - round and palpable"
              />
              <p class="mgbt-text"><span class="mega">MEGA</span>BYTE</p>
            </div>
          </a>
          <button
            aria-controls="navlinks"
            aria-expanded="false"
            class="nav-toggle"
          >
            <span class="hamburger-menu"
              ><svg
                class="ham hamRotate ham8"
                viewBox="0 0 100 100"
                onclick="this.classList.toggle('active')"
              >
                <path
                  class="line top"
                  d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"
                ></path>
                <path class="line middle" d="m 30,50 h 40"></path>
                <path
                  class="line bottom"
                  d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"
                ></path>
              </svg></span
            >
          </button>
        </div>
      </div>
      <div class="navlinks-div" data-visible="false">
        <ul class="navlinks hiddenNavlinks">
          {
            Object.entries(navPages).map((page) => (
              <a
                class={pathname == page[1] ? "navlink current" : "navlink"}
                id={page[0].toLowerCase()}
                href={page[1]}
              >
                <li class="font-mono">{page[0].toUpperCase()}</li>
              </a>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

  .navbar {
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .current {
    color: #ff7474;
    opacity: 75%;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .navlink {
    text-decoration: none;
    padding: 0 1em;
    font-size: 19px;
  }

  .navlink:not(.current) li {
    background-image: linear-gradient(90deg, #ff7474, orange);
    background-size: 0% 0.5vh;
    background-repeat: no-repeat;
    background-position: center 110%;
    transition: 0.2s ease;
  }

  .navlink:not(.current) li:hover {
    background-size: 100% 0.5vh;
  }

  .current {
    cursor: default;
    transition: 0.25s ease;
  }

  .current:hover {
    color: gray;
  }

  .current:active {
    pointer-events: none;
  }
  .font-mono {
    font-family: "Roboto Mono", monospace;
  }

  .wrapper {
    background: rgba(255, 255, 255, 0.8);
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 4px 0px 1px #000;
    transition: 0.25s ease;
  }

  .wrapper:not(.scrolled):hover {
    background: rgba(255, 255, 255, 1);
  }

  .scrolled {
    animation: solidify 1s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes solidify {
    0% {
      background: rgba(255, 255, 255, 0.8);
    }
    100% {
      background: rgba(255, 255, 255, 1);
    }
  }

  .mgbt-text {
    font-family: "Lexend", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    vertical-align: middle;
    align-self: center;
  }
  .mega {
    text-decoration: underline #cceaff 0.3rem;
    text-underline-offset: 0.275rem;
  }

  .navHome > div > p > span {
    transition: 0.2s ease;
  }

  .navHome:hover > div > p > span {
    text-decoration: underline #ff7474 0.3rem;
  }

  img {
    min-width: 70px;
    width: 5vw;
    height: auto;
  }
  .left-side-container {
    padding-left: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #center-wrapper {
    width: 100vw;
    justify-content: center;

    position: relative;
    top: 1.5vh;
  }

  .hamburger-menu {
    display: none;
  }

  .symbol {
    display: none;
  }
  @media (max-width: 67em) {
    .wrapper {
      background: rgba(255, 255, 255, 0.75);
      position: fixed;
      border-radius: 0px;
      width: 100vw;
      box-shadow: 0px 0px 0px 0px;
      flex-direction: column;
      justify-content: start;
      transition: 0.25s ease;
    }
    .wrapper:hover {
      background: rgba(255, 255, 255, 0.75);
    }

    .mgbt-text {
      font-size: 21px;
    }
    .current {
      opacity: 100%;
      color: rgb(59, 72, 255);
    }

    #center-wrapper {
      top: 0rem;
    }
    .whiteBar {
      display: flex;
      width: calc(100vw - 4px);
      background: white;
      justify-content: center;
      box-shadow: 0 0.25rem 1rem #00000075;
    }
    .hamburger-menu {
      display: grid;
      place-items: center;
      grid-template-areas: "icons";
      width: 4em;
    }

    .hamburgerGroup {
      width: 90vw;
      justify-content: space-between;
    }

    .left-side-container {
      padding-left: 0rem;
    }

    .navlinks-div {
      position: relative;
      width: 100vw;
      height: 0vh;
      vertical-align: middle;
      justify-content: center;
      display: flex;
      visibility: hidden;
      transition: 0.5s ease;
    }
    .navlinks-div[data-visible="true"] {
      height: 60vh;
    }
    .navlinks {
      display: flex;
      flex-direction: column;
      height: 75%;
      align-self: center;
      /* display: none; */
    }

    @supports (backdrop-filter: blur(0.25rem)) {
      .wrapper[blur="true"] {
        backdrop-filter: blur(0.25rem);
      }
    }

    .visible {
      visibility: visible;
      opacity: 1;
      transition: 0.5s ease;
    }

    .hiddenNavlinks {
      opacity: 0;
      transition: 0.25s ease;
    }

    li {
      font-size: 2.5vmax;
    }
    .symbol {
      display: inline;
      grid-area: icons;
    }

    .visibleSymbol {
      visibility: visible;
      opacity: 1;
      transition: 0.25s;
    }

    .hiddenSymbol {
      opacity: 0;
      transition: 0.25s ease;
      visibility: hidden;
    }

    .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .hamRotate.active {
      transform: rotate(45deg);
    }
    .hamRotate180.active {
      transform: rotate(180deg);
    }
    .line {
      fill: none;
      transition: stroke-dasharray 700ms, stroke-dashoffset 700ms;
      stroke: #000;
      stroke-width: 5.5;
      stroke-linecap: round;
    }
    .ham8 .top {
      stroke-dasharray: 40 160;
    }
    .ham8 .middle {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform 400ms;
    }
    .ham8 .bottom {
      stroke-dasharray: 40 85;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
    }
    .ham8.active .top {
      stroke-dashoffset: -64px;
    }
    .ham8.active .middle {
      //stroke-dashoffset: -20px;
      transform: rotate(90deg);
    }
    .ham8.active .bottom {
      stroke-dashoffset: -64px;
    }
  }
</style>

<script defer>
  const nav = document.querySelector(".navlinks-div");
  const navlinks = document.querySelector(".navlinks");
  const navToggle = document.querySelector(".nav-toggle");
  const wrapper = document.querySelector(".wrapper");

  const hamburgerMenu = document.querySelector(".hamburger-menu");

  navToggle.addEventListener("click", (e) => {
    e.preventDefault();

    let visible = nav.getAttribute("data-visible");
    visible = visible === "false" ? "true" : "false";
    console.log(visible);
    nav.setAttribute("data-visible", visible);
    wrapper.setAttribute("blur", visible);
    navToggle.setAttribute("aria-expanded", visible);

    if (visible === "true") {
      navlinks.classList.remove("hiddenNavlinks");
      navlinks.classList.add("visible");
      // document.querySelector(".hamburger-menu").innerHTML = "close";
    } else {
      navlinks.classList.remove("visible");
      navlinks.classList.add("hiddenNavlinks");
      // document.querySelector(".hamburger-menu").innerHTML = "menu";
    }
  });

  document.addEventListener("scroll", () => {
    if (window.scrollY != 0) {
      wrapper.classList.add("scrolled");
    } else {
      wrapper.classList.remove("scrolled");
    }
  });
</script>
