---
interface Props {
  title: string;
  logo: string;
  colour1: string;
  colour2: string;
  description: string;
}

const { title, logo, colour1, colour2, description } = Astro.props;
const props = { title, logo, colour1, colour2, description } as Props;
---

<div class="container">
  <div class="card"></div>
  <style define:vars={props}></style>
</div>
