---
interface Props {
  title: string;
  logo: string;
  colour1: string;
  colour2: string;
  description: string;
  count: number;
}

const { title, logo, colour1, colour2, description, count } = Astro.props;
const likes = "❤️";
---

<div class="container rounded-2xl  ">
  <div class="card md:w-[500px] rounded-2xl  h-fit">
    <div class="bg-[#fff] rounded-2xl   w-full h-inherit text-right ">
    <div class="md:flex h-inherit">
            <div class={` md:rounded-xl  h-inherit md:w-1/2 p-5  bg-grad rounded-tr-xl   rounded-tl-xl border-[#000] border-b-[2px] md:border-b-0 md:border-r-[2px] text-center items-end`}> 

              <div class="icon items-center text-center m-auto  w-[50px] h-[50px] rounded-2xl bg-[#000]" ></div>
              <div class="title items-center text-center  m-auto mt-5 text-lg font-bold w-fit h-fit ">{title}</div> </div>
      <div class="text md:w-1/2 h-inherit items-center m-auto text-md text-left p-5 ">{description}
       <div class="mt-5 text-right bottom-0 relative px-5">{likes} {count}</div></div>

    </div>
         </div>
    
  </div>
  <style define:vars={{colour1, colour2}}>
    .bg-grad {
      background-image: linear-gradient(90deg, var(--colour1) 0%, var(--colour1) 50%, var(--colour2) 100%);
    }
    .container {
      font-family: 'Lexend';
    }
 </style>
</div>
