---
interface Props {
  title: string;
}

import { ViewTransitions } from "astro:transitions";

import "../../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="The computer society of The Shri Ram School, Moulsari"
    />
    <!-- Fallback icon for other browsers -->
    <link rel="icon" href="/final/favicon.ico" sizes="any" />
    <!-- Main SVG icon -->
    <link rel="icon" href="/final/mega-bw.svg" type="image/svg+xml" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/global.css" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions fallback="swap" />
  </head>

  <body class="overflow-x-hidden">
    <slot />
  </body>
</html>
