---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import HTMLayout from "./HTMLayout.astro";
const { title } = Astro.props;
---

<HTMLayout title={title}>
  <div class="main-layout h-full w-full">
    <header>
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <Footer />
  </div>
</HTMLayout>

<style>
  .main-layout {
    @apply overflow-x-hidden min-h-screen supports-dynamic:min-h-[100dvh] grid grid-rows-[auto,1fr,auto];
  }
</style>
